<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gold</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylea.css') }}"
    />
    <link
      rel="icon"
      href="https://cdn.discordapp.com/attachments/742148980682784793/777359687779614780/image0.jpg"
    />
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body>
    <!-- Top navigation -->
    <div class="topnav">
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="/puck">Puck</a>
      </div>

      <!-- Left-aligned links (default) -->
      <a href="/home">Home</a>
      <a href="/about" class="active">About</a>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <a href="/github">GitHub</a>
      </div>
    </div>
    <div class="bg">
      <br />
      <h1 class="am">About Gold!</h1>
      <br />
      <br />
      <br />
      <br />
      <div class="group1">
        <div class="images">
          <img
            src="https://cdn.discordapp.com/attachments/742148980682784793/777726047813632040/image0.png"
            style="float:right;"
            height="500"
            width="500"
          />
        </div>
        <div class="text">
          <h1 class="titles">
            ⠀⠀⠀⠀⠀⠀My History in Coding:
          </h1>
          <p class="descs">
            ⠀I originally started coding at around the middle of 2018.
            <br />
            ⠀My first project was a discord bot named Alteria. The bot
            <br />
            ⠀was coded in very simple and easy python. But I was super
            <br />
            ⠀new to coding so the bot came out awful. I actually did not
            <br />
            ⠀know any Python prior to making the Discord bot. This bot
            <br />
            ⠀was poorly coded, had a lack of neatness displayed, was
            <br />
            ⠀extremely lacking compared to other bots, and the music side
            <br />
            ⠀of the bot was buggy. I learned more over time by creating bots
            <br />
            ⠀overtime. I then learned how to use Python as a whole through
            <br />
            ⠀trial and error. I self taught myself Python, I still use it to
            <br />
            ⠀this day. The past year I have opened up to more coding languages.
            <br />
            ⠀I learned more JavaScript during this past year. I just recently
            <br />
            ⠀learned HTML and CSS.
          </p>
        </div>
      </div>
      <div class="group2">
        <div class="images2">
          <img
            src="https://cdn.discordapp.com/attachments/742148980682784793/777359687779614780/image0.jpg"
            height="500"
            width="500"
          />
        </div>
        <div class="text2" style="text-align:right;float:right;">
          <h1 class="titles2">
            Who am I?
          </h1>
  

          <p class="descs2">
            Hi, I am Jaden or otherwise known as Gold
            <br>
            I love coding and playing video games. I 
            <br>
            live in Massachusetts and grew up here ever
            <br>
            since I was little. I never moved from where
            <br>
            I grew up. I am currently 14 years old when
            <br>
            writing this. I am planning to shoot my shot
            <br>
            at getting into a college like MIT or WPI.
            <br>
            I am sure when I get out of High School my skill
            <br>
            would meet the criteria.
          </p>
        </div>
      </div>
      <div class="group3">
        <div class="images3">

        </div>
        <div class="titles3">
          <h3>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
            ⠀
            <br>
          </h3>
        </div>
        <div class="descs3">

        </div>
      </div>
    </div>
  </body>
</html>
