<html>
  <head>
    <title>PuckLogs</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='logs.css') }}"
    />
    
    <link
      rel="icon"
      href="https://cdn.discordapp.com/attachments/742148980682784793/777359687779614780/image0.jpg"
    />
    
  </head>
  <body>
    <table id="project">
      <tr>
        <th><a href="/home/music">Puck Music</a></th>
        <th id="uptime">Searching for a song is being worked on</th>
      </tr>
    </table>
  </body>
</html>